@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-blue: #003be2;
  --brand-lime: #d4f42b;
  --brand-pink: #ff24bd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-blue: var(--brand-blue);
  --color-brand-lime: var(--brand-lime);
  --color-brand-pink: var(--brand-pink);
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
